/*#region Karla font settings*/
body {
  font: "Karla", sans-serif;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 45px;
}

h3 {
  font-size: 30px;
}

p {
  font-size: 18px;
}

/*#endregion*/

#navbar{
  overflow: auto;
  background-color: #010048;
  color: white;
  margin-top: -1%;
  padding-top: 3%;
  padding-bottom: 2%;
  margin-left: -1%;
  margin-right: -1%;
}

#navbar p{
  float: left;
  margin-left: 7%;
  font-size: 35px;
  padding: 0%;
  margin-top: .1%;
  margin-bottom: .3%;
}

#navbar ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#navbar li{
  float: right;
}

#navbar a{
  display: block;
  margin-top: -5px;
  padding: 20px;
  margin-left: -10px;
  margin-right: 100px;
  background-color:	#010048;
  color: white;
  text-decoration: none;
}


main {
  padding-top: 10px;
  padding-bottom: 40px;
  background-color: white;
}

.row {
  margin-left: 70px;
  margin-right: 70px;
}

h1, h2, h3 {
  text-align: center;
}

.column p {
  margin-left: 10px;
  margin-right: 10px;
  text-align: justify;
}

.column img {
  margin: 5px;
}

.column {
  float: left;
  width: 50%;
}
  
.row:after {
  content: "";
  display: table;
  clear: both;
}

.center {
  margin-left: 21%;
  margin-right: 21%;
  text-align: justify;
}

footer {
  overflow: auto;
  background-color: #010048;
  color: white;
  margin-bottom: -300px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: -20px;
  margin-right: -20px;
}

footer p, footer a, footer small {
  margin-left: 30px;
  margin-right: 30px;
}